<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.codingworkshop.gymm">
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusOn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".program.activity.training.ProgramTrainingActivity"
            android:label="@string/program_training_activity_title"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar.SpinnerInAppBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".program.activity.exercise.ProgramExerciseActivity"
            android:label="@string/program_exercise_activity_title"
            android:launchMode="singleTop"
            android:parentActivityName=".program.activity.training.ProgramTrainingActivity"
            android:theme="@style/AppTheme.NoActionBar.SpinnerInAppBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="program.activity.training.ProgramTrainingActivity" />
        </activity>
        <activity
            android:name=".ActualTrainingActivity"
            android:label="@string/title_activity_actual_training"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".program.activity.exercise.picker.muscles.MusclesActivity"
            android:label="@string/muscles_activity_title"
            android:parentActivityName=".program.activity.exercise.ProgramExerciseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.codingworkshop.gymm.program.activity.exercise.ProgramExerciseActivity" />
        </activity>
        <activity
            android:name=".program.activity.exercise.picker.exercises.ExercisesActivity"
            android:parentActivityName=".program.activity.exercise.picker.muscles.MusclesActivity"
            android:label="@string/exercises_picker_activity_title">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:theme="@style/AppTheme.NoActionBar"
                android:value="ru.codingworkshop.gymm.program.activity.exercise.picker.muscles.MusclesActivity" />
        </activity>
        <activity
            android:name=".info.exercise.ExerciseInfoActivity"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusOn"/>
    </application>

</manifest>