<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.codingworkshop.gymm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <service
            android:name=".service.TrainingTimeService"
            android:description="@string/time_service_description"
            android:exported="false" />
        <service
            android:name=".service.TrainingForegroundService"
            android:description="@string/time_service_description"
            android:exported="false" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusOn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.actual.ActualTrainingActivity"
            android:label=""
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.codingworkshop.gymm.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.program.exercise.picker.MuscleGroupsActivity"
            android:label="@string/muscles_activity_title"
            android:parentActivityName=".ui.program.exercise.ProgramExerciseActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ru.codingworkshop.gymm.ui.program.exercise.ProgramExerciseActivity" />
        </activity>
        <activity
            android:name=".ui.info.exercise.ExerciseInfoActivity"
            android:theme="@style/AppTheme.NoActionBar.TranslucentStatusOn" />
        <activity android:name=".ui.program.ProgramTrainingActivity"></activity>
    </application>

</manifest>